################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/DeploymentTool.csproj.AssemblyReference.cache
/.vs/DeploymentTool/v17/.wsuo
/Controller/TokenController.cs
/.vs/DeploymentTool/FileContentIndex/c75c3c89-0f10-4dcc-b1c9-988d8b4909f2.vsidx
/.vs/DeploymentTool/FileContentIndex/9a5e9bac-5352-4228-a5db-97c217625a27.vsidx
/.gitignore
/.gitignore
