<div class="loginOuter">
    <div class="loginLeft logo"></div>
    <div class="loginRight">
        <h4 class="header">Sign In to the Restaurant Technology Deployment Platform</h4>
        <form class="loginForm" [formGroup]="formGroup" (ngSubmit)="logMeIn()">
            <p>
                <mat-form-field appearance="fill" class="curField">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="User Name" type="text" formControlName="UserName" required>
                    <mat-error *ngIf="hasEror('UserName')">Please Enter User Name</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill" class="curField">
                    <mat-label>Enter your password</mat-label>
                    <input matInput placeholder="Password" type="password" formControlName="Password" required>
                    <mat-error *ngIf="hasEror('Password')">Please Enter Password</mat-error>
                </mat-form-field>
            </p>
            <p>
                <button type="submit" [disabled]="hasEror('Password') || hasEror('UserName')"
                mat-raised-button color="primary" class="button">Login</button>
            </p>
        </form>
    </div>
</div>