.loginOuter{
    width: 100%;
    height: 100%;
    float: left;
}
.loginLeft{
    width: 50%;
    height: 100%;
    float: left;
}
.loginRight{
    width: 50%;
    height: 100%;
    float: left;
}
.loginForm{
    width: 100%;
}
.logo{
    background-color: gray;
}
.header{
    margin-top: 20%;
    float: left;
    width: 90%;
    padding: 10px;
}
.curField {
    width: 90%;
    padding: 10px;
    height: 80px;
}
.button{
    width: 90%;
    margin: 10px;
}